* @kvolkovich-sc @asergeev-sc

/packages/client-react @kvolkovich-sc @asergeev-sc
/packages/connector-node-v1 @kvolkovich-sc @asergeev-sc
/packages/connector-google-drive-v2 @kvolkovich-sc @asergeev-sc
/packages/server-nodejs @amourzenkov-sc @kvolkovich-sc @asergeev-sc
