@import "../assets/cell-mixin";



.oc-fm--name-cell {
  .oc-fm--cell-mixin;
  display: flex;
  align-items: center;
}

.oc-fm--name-cell__title {
  .oc-fm--cell-mixin;
  font-weight: bold;
  flex: 0 1 auto;
}

.oc-fm--name-cell__icon {
  width: 34px;
  height: 34px;
  margin-right: 10px;
  background: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;
}

.oc-fm--name-cell__icon-image {
  width: 24px;
  height: 24px;
  background-size: cover;
}
