.oc-fm--context-menu {

}

.oc-fm--context-menu__content {
  background: #fff;
  z-index: 999;
  box-shadow: 0 2px 16px rgba(0, 0, 0, 0.25), 0px 1px 4px rgba(0, 0, 0, 0.15);
  border-radius: 2px;
  overflow: hidden;
  width: 240px;
}

.oc-fm--context-menu .react-contextmenu-item--divider {
  border-bottom: 1px solid rgba(0,0,0,.08);
}

.oc-fm--context-menu .react-contextmenu-item {
  &:focus {
    outline: none;
  }
}
