@keyframes keyframes-oc-fm--notification-appearing {
  0% { opacity: 0; transform: translateY(100%); }
  100% { opacity: 1; transform: translateY(0); }
}

.oc-fm--notification {
  border-radius: 2px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 16px, rgba(0, 0, 0, 0.15) 0px 1px 4px;
  animation: keyframes-oc-fm--notification-appearing 240ms;
  animation-timing-function: ease-in-out;
  background-color: #fff;
  pointer-events: auto;
}

.oc-fm--notification__content {
  max-height: 240px;
  overflow: auto;
  will-change: max-height;
  transition: max-height 180ms ease-in-out;
}

.oc-fm--notification__content--minimized {
  max-height: 0;
  will-change: max-height;
  transition: max-height 180ms ease-in-out;
}

.oc-fm--notification__header {
  display: flex;
  background-color: rgba(0, 0, 0, 0.72);
  justify-content: space-between;
  align-items: center;
  padding: 8px 12px;
}

.oc-fm--notification__header-title {
  color: #fff;
  user-select: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  &:hover {
    cursor: default;
  }
}

.oc-fm--notification__header-icons {
  display: inline-flex;
}

.oc-fm--notification__header-icon {
  display: inline-flex;
  align-items: center;
  position: relative;
  border-radius: 2px;
  overflow: hidden;
  border: 1px solid transparent;

  &:focus {
    border: 1px solid rgba(0, 0, 0, 0.22);
    outline: none;
  }

  &:hover {
    cursor: pointer;
    &:after {
      content: '';
      background-color: rgba(255, 255, 255, 0.22);
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
    }
  }
}

.oc-fm--notification__progress {
  background: #f5f5f5;
  padding: 2px 12px;
  display: flex;
  justify-content: space-between;
}

.oc-fm--notification__progress-text {
  display: flex;
  align-items: center;
}

.oc-fm--notification__cancel-button {
  border: 1px solid transparent;
  background-color: transparent;
  box-shadow: none;
  color: #006070;
  padding: 2px 8px;
  margin-right: -8px;
  position: relative;
  border-radius: 2px;
  overflow: hidden;

  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }

  &:focus {
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.22);
  }
}
