version: 2.1

orbs:
  git: opuscapita/git@volatile
  jira: circleci/jira@1.2.2

aliases:
  - &save-cache-checksum
    name: Save cache checksum
    command: find . -name "package.json" | sort | xargs cat >> /tmp/cache-checksum

  - &restore-cache
    keys:
      - dependencies-{{ checksum "/tmp/cache-checksum" }}

  - &save-cache
    key: dependencies-{{ checksum "/tmp/cache-checksum" }}
    paths:
      - ./package-lock.json
      - ./node_modules
      - ./packages/client-react/package-lock.json
      - ./packages/client-react/node_modules
      - ./packages/connector-google-drive-v2/package-lock.json
      - ./packages/connector-google-drive-v2/node_modules
      - ./packages/connector-node-v1/package-lock.json
      - ./packages/connector-node-v1/node_modules
      - ./packages/server-nodejs/package-lock.json
      - ./packages/server-nodejs/node_modules
      - ./packages/demoapp/package-lock.json
      - ./packages/demoapp/node_modules

jobs:
  init:
    docker:
      - image: opuscapita/minsk-core-machineuser-env:4
    steps:
      - run: circle_ci_add_env.sh

  build-docker-ci:
    docker:
    - image: docker
    steps:
      - run: apk add --no-cache bash make git openssh
      - checkout
      - run: wget -O /vault.zip https://releases.hashicorp.com/vault/1.2.2/vault_1.2.2_linux_amd64.zip; unzip /vault.zip -d /usr/bin/
      - setup_remote_docker
      - run:
          name: Check if image build is required
          command: |
            make docker-auth
            if [ -z "$(git show --name-only | grep build/docker/ci)" ]; then
              DOCKER_CLI_EXPERIMENTAL=enabled docker manifest inspect opuscapita/filemanager:ci && \
                circleci step halt || echo "Image doesn't exist, proceed"
            fi
      - run: make build-docker-ci && make publish-docker-ci

  build:
    docker:
      - image: opuscapita/filemanager:ci
        auth:
          username: $DOCKER_USER
          password: $DOCKER_PASS
    steps:
      - git/checkout-with-submodules
      - run: *save-cache-checksum
      - restore_cache: *restore-cache
      - run: make refresh-dependencies
      - save_cache: *save-cache
      - run: make lint
      - run: make test-restapi
      - store_test_results:
          path: ./packages/server-nodejs/test-results
      - store_artifacts:
          path: ./packages/server-nodejs/test-results
      - run: if [ ! -z "${CIRCLE_TAG}" ]; then make publish; else echo "This step is skipped as this is not a release build"; fi
      - run: if [ -z "${CIRCLE_TAG}" ]; then make build; fi
      - setup_remote_docker
      - run: if [ -z "${CIRCLE_TAG}" ]; then make build-docker; fi
      - run: if [ -z "${CIRCLE_TAG}" ]; then make publish-docker; fi
      - run: if [ -z "${CIRCLE_TAG}" ]; then make deploy; fi

workflows:
  version: 2
  commit:
    jobs:
      - init:
          filters:
            tags:
              only: /.*/
      - build-docker-ci:
          requires:
            - init
          filters:
            tags:
              only: /.*/
      - build:
          requires:
            - init
            - build-docker-ci
          filters:
            tags:
              only: /.*/
          post-steps:
            - jira/notify
