version: 2
jobs:
  build:
    docker:
      - image: opuscapita/ci-node8:latest

    working_directory: ~/repo
    steps:
      - checkout
      - setup_remote_docker

      - run:
          name: save-cache-checksum
          command: find -name "package.json" | xargs cat > /tmp/cache-checksum

      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "/tmp/cache-checksum" }}
            # fallback to using the latest cache if no exact match is found
            - v1-dependencies-


      - run:
          name: init-ci-container
          command: /ci-scripts/init.sh

  publish-release:
    docker:
      - image: opuscapita/ci-node8:latest

    working_directory: ~/repo
    steps:
      - checkout
      - setup_remote_docker

      - run:
          name: save-cache-checksum
          command: find -name "package.json" | xargs cat > /tmp/cache-checksum

      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "/tmp/cache-checksum" }}
            # fallback to using the latest cache if no exact match is found
            - v1-dependencies-

      - run:
          name: init-ci-container
          command: |
            /ci-scripts/init.sh
            # NPM auth
            npm config set registry ${NPM_DEFAULT_REGISTRY}
            echo "_auth = ${NPM_DEFAULT_REGISTRY_AUTH}" >> ~/.npmrc
            echo "email = ${NPM_DEFAULT_REGISTRY_MAIL}" >> ~/.npmrc
            echo "always-auth = true" >> ~/.npmrc
            git config --global user.email "${GH_MAIL}"
            git config --global user.name "${GH_NAME}"

      - run:
          name: bootstrap-packages
          command: yarn

      - run:
          name: publish-to-npm
          command: yarn run publish

  deploy-demo:
    docker:
      - image: opuscapita/ci-node8:latest

    working_directory: ~/repo
    steps:
      - checkout
      - setup_remote_docker

      - run:
          name: save-cache-checksum
          command: find -name "package.json" | xargs cat > /tmp/cache-checksum

      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "/tmp/cache-checksum" }}
            # fallback to using the latest cache if no exact match is found
            - v1-dependencies-

      - run:
          name: bootstrap-packages
          command: yarn

      - run:
          name: install-demo-dependencies
          command: (cd demo && yarn install)

      - run:
          name: init-ci-container
          command: /ci-scripts/init.sh

      - run:
          name: build-client-static
          command: |
            cd packages/client-react
            npm run gh-pages:build
            mv ./.gh-pages-tmp ../../demo && mv ../../demo/.gh-pages-tmp ../../demo/static

      - run:
          name: build-server-api-docs
          command: |
            cd packages/server-nodejs
            npm run build-api-docs
            mkdir -p ../../demo/static/api
            cp -r api-docs.tmp/docs ../../demo/static/api

      - run:
          name: deploy-docker-demo-image
          command: |
            ./.circleci/scripts/deploy-docker-demo-image.js

      - run:
          name: azure-create-web-app
          command: |
            ./.circleci/scripts/azure-create-webapp.js


      - run:
          name: update-github-commit-status
          command: ./.circleci/scripts/update-github-commit-status.js

  test-rest-api:
    docker:
      - image: opuscapita/ci-node8:latest

    working_directory: ~/repo
    steps:
      - checkout
      - setup_remote_docker

      - run:
          name: save-cache-checksum
          command: find -name "package.json" | xargs cat > /tmp/cache-checksum

      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "/tmp/cache-checksum" }}
            # fallback to using the latest cache if no exact match is found
            - v1-dependencies-

      - run:
          name: bootstrap-packages
          command: yarn

      - run:
          name: install-demo-dependencies
          command: (cd demo && yarn install)

      - run:
          name: start-server
          command: |
            cd packages/server-nodejs
            npm start


      - run:
          name: test-restapi
          command: |
            cd packages/server-nodejs
            npm run test-restapi

      - run:
          name: kill-node-process
          command: |
            killall node

  create-tests-file:
    docker:
      - image: opuscapita/ci-node8:latest

    working_directory: ~/repo
    steps:
      - checkout
      - setup_remote_docker

      - run:
          name: save-cache-checksum
          command: find -name "package.json" | xargs cat > /tmp/cache-checksum

      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "/tmp/cache-checksum" }}
            # fallback to using the latest cache if no exact match is found
            - v1-dependencies-

      - run:
          name: bootstrap-packages
          command: yarn

      - run:
          name: test-rest
          command: |
            cd packages/server-nodejs
            npm run copy-tests
            cat api-tests.tmp/api-tests/api-tests.spec.js
#            mkdir apitests
#            cp -r api-tests.tmp/api-tests apitests

#      - store_artifacts:
#          path: apitests

  azure-maintenance:
    docker:
      - image: opuscapita/ci-node8:latest

    working_directory: ~/repo

    steps:
      - checkout
      - setup_remote_docker

      - run:
          name: init-ci-container
          command: /ci-scripts/init.sh

      - run:
          name: azure-cleanup
          command: ./.circleci/scripts/azure-cleanup.js

workflows:
  version: 2

  commit:
      jobs:
#        - build
#        - approve-publish-release:
#            type: approval
#            requires:
#              - build
#            filters:
#              branches:
#                only:
#                  - master
#        - publish-release:
#            requires:
#              - build
#              - approve-publish-release
#            filters:
#              branches:
#                only:
#                  - master
#        - create-tests-file
        - test-rest-api
#        - deploy-demo:
#            requires:
#              - build
#        - test-rest-api:
#            requires:
#              - deploy-demo
  nightly:
      triggers:
        - schedule:
            cron: "0 */12 * * *"
            filters:
              branches:
                only:
                  - master
      jobs:
        - azure-maintenance
