.oc-fm--no-files-found-stub {
  will-change: opacity;
  padding: 12px;
  height: 100%;
  opacity: 0.78;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 8px;
  background-color: #f5f5f5;
  text-align: center;
  animation: keyframes-oc-fm--list-view__no-rows-appearing 300ms;
  animation-timing-function: ease-in-out;
}

.oc-fm--no-files-found-stub__icon {
  fill: rgba(0, 0, 0, 0.72);
  width: 64px;
  height: 64px;
}

.oc-fm--no-files-found-stub__title {
  font-size: 24px;
}
