.oc-fm--progress-icon {
  transform: rotate(-90deg);
}

.oc-fm--progress-icon__svg-meter,
.oc-fm--progress-icon__svg-value {
  fill: none;
}

.oc-fm--progress-icon__svg-meter {
  stroke: #e5e5e5;
}

.oc-fm--progress-icon__svg-value {
  stroke: #3aa57b;
}
