.oc-fm--dropdown-menu-item {
}

.oc-fm--dropdown-menu-item {
  padding: 8px 12px;
  display: flex;
  align-items: center;
  user-select: none;

  &:hover {
    cursor: pointer;
    background-color: #f5f5f5;
  }
}

.oc-fm--dropdown-menu-item__icon {
  margin-right: 12px;
  fill: rgba(0, 0, 0, 0.72);
}
